:root{
    --persona-black: #100c08;
    --persona-light-red: #d92323;
    --persona-dark-red: #480203;
    --persona-light-yellow: #8c6723;
    --persona-dark-yellow: #f2e852;
    --persona-white: #f7f7f7;
}

body{
    background-color: var(--persona-black);
    /* background-image: url(../../tech-bg.jpg); */
    /* background-repeat: no-repeat; */
    background-size: 100%;
    color: var(--persona-light-red);
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

html{
  scrollbar-color: var(--persona-light-red) transparent;
  scrollbar-width: thin;
}

.knewave-regular{
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
